
* { /* Basic reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue: #0371bb;
    --lightblue: #8cbbe3;
    --pink: #f0bcd6;
    --lightpink: #ffdded;
    --darkpink: #cf8dae;
    --red: #c53030;
    --lightred: #ec5b56;
    --green: #7cc374;
}

html {
    font-size: 14px;
    font-family: 'Segoe UI', system-ui, sans-serif;
    letter-spacing: 0.03ch;
}

html, body, header, .sign-up {
    height: 100vh; /* Fill screen */
}

body {
    display: flex;
    flex-direction: row; /* Set header and form sections adjacent to eachother */
    align-items: center;
}

/* ---  HEADER SECTION  --- */
header {
    flex: 1; /* Keep width one-third of screen */

    text-align: center; /* Center logo, an inline element */
    padding-top: 30px;

    background-image: url("cool-peppa.jpg");
    background-size: 100% auto; /* Fill width*/
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: #8cbbe3; /* Fill space above image */
}

header img {
    width: clamp(100px, 80%, 250px);
    filter: drop-shadow(0 0 0.1rem #2b3f50);
}

header img:hover {
    filter: drop-shadow(0 0 0.35rem var(--darkpink));
}

/* ---  FORM SECTION  --- */
.sign-up {
    flex: 2; /* Keep width two-thirds of screen */
    background-color: var(--lightpink);
}

.sign-up > div {
    padding: 40px;
}

/* Stuff above form body */
.description {
    width: clamp(200px, 90%, 420px);
    color: var(--darkpink);
}

.form-wrapper {
    background-color: var(--lightpink);
}

.form-wrapper > h2 {
    font-family: "Kirang Haerang", system-ui;
    font-size: 28px;
    color: var(--blue);
}

.small-text {
    color: var(--darkpink);
    font-size: 12px;
    margin: 10px 0 20px;
}

/* Form body */
#form-body {
    appearance: none; /* Remove browser styling */

    display: flex;
    flex-wrap: wrap;

    text-align: left;

    width: clamp(100px, 90%, 420px);
}

.form-field {
    width: clamp(50px, 80%, 200px);
    margin: 0 10px 20px 0;
}

label {
    color: var(--darkpink);
}

.form-field:focus {
    color: black;
}

input {
    outline: none;
    border: 1px solid var(--pink);
    border-radius: 5px;
    padding: 5px;
}

input:focus {
    border: 1px solid var(--darkpink);
    box-shadow: 3px 3px 2px var(--pink);
}

input:invalid {
    border: 1px solid var(--lightred);
}

/* Stuff below form body */
button {
    outline: none;
    border: 1px solid var(--lightblue);
    border-radius: 5px;

    background-color: var(--lightblue); 
    padding: 7px 15px;
    box-shadow: 3px 3px 2px var(--darkpink);

    color: var(--blue);

    cursor: pointer;
}

button:hover {
    box-shadow: 3px 3px 2px var(--blue);
}

a {
    color: var(--darkpink);
    text-decoration: none;
}